<div class="form-group">
                        <label>Parentesco</label>

                        <select th:field="*{parentesco}">

                            <option value="">
                                Seleccione parentesco
                            </option>

                            <option value="PADRE">
                                Padre
                            </option>

                            <option value="MADRE">
                                Madre
                            </option>

                            <option value="ABUELO">
                                Abuelo
                            </option>

                            <option value="ABUELA">
                                Abuela
                            </option>

                            <option value="TIO">
                                Tío
                            </option>

                            <option value="TIA">
                                Tía
                            </option>

                            <option value="OTRO">
                                Otro
                            </option>

                        </select>

                    </div>