<div th:fragment="menu">

    <div class="menu-header">

        <figure>
            <!-- Marco circular con la primera letra del nombre -->
            <svg width="150" height="150">
                <!-- Círculo -->
                <circle cx="75" cy="75" r="65" stroke="black" stroke-width="3" fill="#87CEEB" />

                <!-- Texto centrado -->
                <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-size="90"
                    font-weight="lighter" fill="white"
                    th:text="${session.usuarioLogrado == null ? '?' :#strings.substring(session.usuarioLogeado.persona.nombre.toUpperCase(),0,1)}">
                </text>
            </svg>
            <figcaption>Icono o foto de usuario logeado</figcaption>
        </figure>

        <p th:text="${session.usuarioLogeado.persona.nombre + ' ' + session.usuarioLogeado.persona.primerApellido}"></p>
        <p th:text="${session.usuarioLogeado.rol}"></p>

    </div>

    <div class="menu-body">

        <ul class="menu-options">


            <li th:if="${session.usuarioLogeado.rol.name() == 'ADMIN'}">
                <a th:href="@{/pagos}">
                    Pagos
                </a>
            </li>

            <li th:if="${session.usuarioLogeado.rol.name() == 'ADMIN'}">
                <a th:href="@{/matriculas/matricular}">
                    Matriculación
                </a>
            </li>

            <li th:if="${session.usuarioLogeado.rol.name() == 'ADMIN'}">
                <a th:href="@{/estudiantes/gestionEstudiantes}">
                    Gestion de Estudiantes
                </a>
            </li>

            <li th:if="${session.usuarioLogeado.rol.name() == 'ADMIN'}">
                <a th:href="@{/apoderados/gestionApoderados}">
                    Gestion de Apoderados
                </a>
            </li>

            <li th:if="${session.usuarioLogeado.rol.name() == 'ADMIN'}">
                <a th:href="@{/docentes/gestionDocentes}">
                    Gestion de Docentes
                </a>
            </li>

            <li th:if="${session.usuarioLogeado.rol.name() == 'DOCENTE'}">
                <a th:href="@{/notas}">
                    Registro de notas
                </a>
            </li>

            <li
                th:if="${session.usuarioLogeado.rol.name() == 'ESTUDIANTE' or session.usuarioLogeado.rol.name() == 'APODERADO'}">
                <a th:href="@{/misnotas}">
                    Mis notas
                </a>
            </li>

            <li
                th:if="${session.usuarioLogeado.rol.name() == 'ESTUDIANTE' or session.usuarioLogeado.rol.name() == 'APODERADO'}">
                <a th:href="@{/mispagos}">
                    Mis pagos
                </a>
            </li>

            <li>
                <a class="cerrar_sesion" th:href="@{/auth/logout}">
                    Cerrar sesión
                </a>
            </li>

        </ul>
    </div>

</div>