<div th:fragment="modales">

<!-- Modal de notificación -->
<div th:if="${tipoModal == 'notificacion'}" id="notificacionModal" class="modal">
    <div class="modal-content">
        <p th:text="${mensaje}"></p>
        <button onclick="cerrarModal('notificacionModal')">Aceptar</button>
    </div>
</div>

<!-- Modal de confirmación -->
<div th:if="${tipoModal == 'confirmacion'}" id="confirmacionModal" class="modal">
    <div class="modal-content">
        <p th:text="${mensaje}"></p>
        <button th:onclick="'window.location.href=\'/matriculas/editar/' + ${matricula.idMatricula} + '\''">Editar
            matrícula</button>
        <button type="reset" class="btn cancelar"
            onclick="window.location.href='/matriculas/matricular'">Cancelar</button>
    </div>
</div>

</div>