<div th:fragment="paginacion">

    <div class="paginacion">

        <!-- Anterior -->
        <a th:if="${pagina.hasPrevious()}" th:href="@{/matriculas/matricular(
        page=${pagina.number - 1},
        anioEscolar=${anioSeleccionado},
        grado=${gradoSeleccionado},
        seccion=${seccionSeleccionada})}">
            ← Anterior
        </a>


        <!-- Números -->
        <div th:if="${pagina.totalPages > 0}">

            <span th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">

                <a th:href="@{/matriculas/matricular(
                page=${i},
                anioEscolar=${anioSeleccionado},
                grado=${gradoSeleccionado},
                seccion=${seccionSeleccionada})}" th:class="${i == pagina.number} ? 'activo'">

                    [[${i + 1}]]

                </a>

            </span>

        </div>


        <!-- Siguiente -->
        <a th:if="${pagina.hasNext()}" th:href="@{/matriculas/matricular(
        page=${pagina.number + 1},
        anioEscolar=${anioSeleccionado},
        grado=${gradoSeleccionado},
        seccion=${seccionSeleccionada})}">
            Siguiente →
        </a>

    </div>
</div>