<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Apoderados</title>

    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/matricular.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" th:href="@{/modal.css}">
    <script th:src="@{/modal.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div>

    <div th:replace="~{fragments/modales :: modales}"></div>

    <main id="content">

        <h1>Gestión de Apoderados</h1>

        <div class="card-form">

            <h2>Registro de Apoderado</h2>

            <!-- Formulario -->

            <form th:action="@{/apoderados/guardar}" th:object="${apoderado}" method="post">

                <input type="hidden" th:field="*{id}">

                <div class="form-grid">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" th:field="*{codigo}" th:placeholder="${apoderado.codigo}" required readonly>
                    </div>

                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" th:field="*{nombre}" placeholder="Ingrese nombres" required>
                    </div>

                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" th:field="*{primerApellido}" placeholder="Ingrese primer apellido" required>
                    </div>

                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" th:field="*{segundoApellido}" placeholder="Ingrese segundo apellido">
                    </div>

                    <div class="form-group">
                        <label>DNI</label>
                        <input type="text" maxlength="8" th:field="*{dni}" placeholder="12345678" required>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" name="fechaNacimiento"
                            th:value="${#temporals.format(apoderado.fechaNacimiento, 'yyyy-MM-dd')}" required>
                    </div>

                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" maxlength="9" th:field="*{telefono}" placeholder="999999999">
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" th:field="*{correo}" placeholder="correo@ejemplo.com" required>
                    </div> 

                </div>

                <div class="acciones">

                    <button type="reset" class="btn cancelar"
                        onclick="window.location.href='/apoderados/gestionApoderados'">
                        Limpiar
                    </button>

                    <button type="submit" class="btn guardar">
                        Guardar
                    </button>

                    <a th:href="@{/apoderados/nuevo}" class="btn agregar">
                        Nuevo
                    </a>

                </div>

            </form>

        </div>

    </main>

    <!-- TABLA -->

    <section id="listar">

        <div class="card-table">

            <h2>Listado de Apoderados</h2>

            <div class="toolbar">

                <!-- Buscar por DNI -->
                <form th:action="@{/apoderados/buscar}" method="get" class="busqueda">

                    <input type="text" name="dni" placeholder="Ingrese DNI del apoderado...">

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>

            </div>

            <table>

                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    <tr th:each="a : ${apoderados}">

                        <td th:text="${a.id}"></td>

                        <td th:text="${a.nombre}"></td>

                        <td th:text="${a.primerApellido + ' ' + a.segundoApellido}"></td>

                        <td th:text="${a.dni}"></td>

                        <td th:text="${a.telefono}"></td>

                        <td th:text="${a.correo}"></td>

                        <td>

                            <a th:href="@{/apoderados/editar/{id}(id=${a.id})}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a th:href="@{/apoderados/eliminar/{id}(id=${a.id})}"
                                onclick="return confirm('¿Desea eliminar este apoderado?')">

                                <i class="fa-solid fa-trash"></i>

                            </a>

                        </td>

                    </tr>

                </tbody>

            </table>
            <div class="paginacion">

                <!-- Anterior -->
                <a th:if="${pagina.hasPrevious()}" th:href="@{/apoderados/gestionApoderados(
        page=${pagina.number - 1})}">
                    ← Anterior
                </a>


                <!-- Números -->
                <div th:if="${pagina.totalPages > 0}">

                    <span th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">

                        <a th:href="@{/apoderados/gestionApoderados(
                page=${i})}" th:class="${i == pagina.number} ? 'activo'">

                            [[${i + 1}]]

                        </a>

                    </span>

                </div>


                <!-- Siguiente -->
                <a th:if="${pagina.hasNext()}" th:href="@{/apoderados/gestionApoderados(
        page=${pagina.number + 1})}">
                    Siguiente →
                </a>

            </div>

        </div>

    </section>

</body>

</html>