<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Docentes</title>

    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/matricular.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" th:href="@{/modal.css}">
    <script th:src="@{/modal.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div>

    <div th:replace="~{fragments/modales :: modales}"></div>

    <main id="content">

        <h1>Gestión de Docentes</h1>

        <div class="card-form">

            <h2>Registro de Docente</h2>

            <!-- FORMULARIO -->

            <form th:action="@{/docentes/guardar}" th:object="${docente}" method="post">

                <input type="hidden" th:field="*{id}">

                <div class="form-grid">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" id="codigo" th:field="*{codigo}" class="form-control"
                            placeholder="Haga click en el botón nuevo para generar" readonly />
                        <p class="texto-alerta" th:if="${#fields.hasErrors('codigo')}" th:errors="*{mensaje}">
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" th:field="*{nombre}" required>
                        <p class="texto-alerta" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                    </div>

                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" th:field="*{primerApellido}" required>
                        <p class="texto-alerta" th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}"></p>
                    </div>

                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" th:field="*{segundoApellido}">
                    </div>

                    <div class="form-group">
                        <label>DNI</label>
                        <input type="text" maxlength="8" th:field="*{dni}" required>
                        <p class="texto-alerta" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></p>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" name="fechaNacimiento"
                            th:value="${#temporals.format(docente.fechaNacimiento, 'yyyy-MM-dd')}" required>
                            <p class="texto-alerta" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></p>
                    </div>

                    <!-- <div class="form-group">
                        <label>Especialidad</label>
                        <input type="text" th:field="*{especialidad}" required>
                    </div>-->

                    <div class="form-group">
                        <label for="curso"> Especialidad</label>
                        <select name="curso" id="curso" th:field="*{especialidad}" required>
                            <option value="">-- Seleccione Especialidad --</option>
                            <option value="comunicacion">Comunicación</option>
                            <option value="matematica">Matemática</option>
                            <option value="ciencia">Ciencia y Tecnología</option>
                            <option value="personal-social">Personal Social</option>
                            <option value="arte-cultura">Arte y Cultura</option>
                            <option value="educacion-fisica">Educación Física</option>
                            <option value="ingles">Inglés</option>
                            <option value="religion">Religión / Valores</option>
                        </select>
                        <p class="texto-alerta" th:if="${#fields.hasErrors('especialidad')}" th:errors="*{especialidad}"></p>
                    </div>

                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" maxlength="9" th:field="*{telefono}">
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" th:field="*{correo}" required>
                        <p class="texto-alerta" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></p>
                    </div>


                </div>

                <div class="acciones">

                    <button type="reset" class="btn cancelar"
                        onclick="window.location.href='/docentes/gestionDocentes'">
                        Limpiar
                    </button>

                    <button type="submit" class="btn guardar">
                        Guardar
                    </button>

                    <a th:href="@{/docentes/nuevo}" class="btn agregar">
                        Nuevo
                    </a>

                </div>

            </form>

        </div>

    </main>

    <!-- TABLA -->

    <section id="listar">

        <div class="card-table">

            <h2>Listado de Docentes</h2>

            <div class="toolbar">

                <!-- Buscar por DNI -->
                <form th:action="@{/docentes/buscar}" method="get" class="busqueda">

                    <input type="text" name="dni" placeholder="Ingrese DNI del docente...">

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>




            </div>

            <table>

                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Especialidad</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    <tr th:each="d : ${docentes}">

                        <td th:text="${d.id}"></td>

                        <td th:text="${d.nombre}"></td>

                        <td th:text="${d.primerApellido + ' ' + d.segundoApellido}"></td>

                        <td th:text="${d.dni}"></td>

                        <td th:text="${d.especialidad}"></td>

                        <td th:text="${d.telefono}"></td>

                        <td th:text="${d.correo}"></td>

                        <td>

                            <a th:href="@{/docentes/editar/{id}(id=${d.id})}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a th:href="@{/docentes/eliminar/{id}(id=${d.id})}"
                                onclick="return confirm('¿Desea eliminar este docente?')">

                                <i class="fa-solid fa-trash"></i>

                            </a>

                        </td>

                    </tr>

                </tbody>

            </table>

            <div class="paginacion">

                <!-- Anterior -->
                <a th:if="${pagina.hasPrevious()}" th:href="@{/docentes/gestionDocentes(
        page=${pagina.number - 1})}">
                    ← Anterior
                </a>


                <!-- Números -->
                <div th:if="${pagina.totalPages > 0}">

                    <span th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">

                        <a th:href="@{/docentes/gestionDocentes(
                page=${i})}" th:class="${i == pagina.number} ? 'activo'">

                            [[${i + 1}]]

                        </a>

                    </span>

                </div>


                <!-- Siguiente -->
                <a th:if="${pagina.hasNext()}" th:href="@{/docentes/gestionDocentes(
        page=${pagina.number + 1})}">
                    Siguiente →
                </a>

            </div>

        </div>

    </section>

</body>

</html>