<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestión de Estudiantes</title>

    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" th:href="@{/modal.css}">
    <script th:src="@{/modal.js}"></script>
    <link rel="stylesheet" th:href="@{/matricular.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div>

    <div th:replace="~{fragments/modales :: modales}"></div>

    <main id="content">

        <h1>Gestión de Estudiantes</h1>

        <!-- FORMULARIO -->

        <section class="card-form">

            <h2 th:text="${estudiante.id == null ? 'Nuevo Estudiante' : 'Editar Estudiante'}">
                Nuevo Estudiante
            </h2>

            <form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" method="post">

                <input type="hidden" th:field="*{id}">

                <div class="form-grid">

                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" id="codigo" th:field="*{codigo}" class="form-control"
                            placeholder="Haga click en el botón nuevo para generar" readonly />
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" th:field="*{nombre}" required>
                    </div>

                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" th:field="*{primerApellido}" required>
                    </div>

                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" th:field="*{segundoApellido}">
                    </div>

                    <div class="form-group">
                        <label>DNI</label>
                        <input type="text" th:field="*{dni}" maxlength="8" required>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" name="fechaNacimiento"
                            th:value="${#temporals.format(estudiante.fechaNacimiento, 'yyyy-MM-dd')}" required>
                    </div>

                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" th:field="*{direccion}">
                    </div>

                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" th:field="*{telefono}">
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" required th:field="*{correo}">
                    </div>

                    <div class="busqueda buscar-estudiante-apoderado">

                        <div>
                            <input type="text" name="dniApoderado" placeholder="Buscar apoderado por DNI" maxlength="8">
                            <button type="submit" formaction="/estudiantes/buscarApoderado" formmethod="get">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                    </div>
                    <div class="form-group nombre-apoderado" id="apoderadoNombre">
                        <label>Apoderado</label>
                        <input type="hidden" id="idApoderado" th:field="*{apoderado.id}">
                        <input type="text" required readonly
                            th:value="${apoderado != null ? apoderado.nombre + ' ' + apoderado.primerApellido : '--- Apoderado no asignado ---'}">
                    </div>


                </div>

                <div class="acciones">

                    <button type="reset" class="btn cancelar"
                        onclick="window.location.href='/estudiantes/gestionEstudiantes'">
                        Cancelar
                    </button>

                    <a th:href="@{/estudiantes/nuevo}" class="btn nuevo">
                        Nuevo
                    </a>

                    <button type="submit" class="btn guardar" id="btnGuardar">
                        Guardar
                    </button>

                </div>

            </form>

            <script>
                document.querySelector("form").addEventListener("submit", function (e) {

                    if (e.submitter && e.submitter.id === "btnGuardar") {

                        let idApoderado = document.getElementById("idApoderado").value;

                        if (idApoderado === "0" || idApoderado === "") {
                            e.preventDefault();
                            alert("Debe seleccionar un apoderado");
                        }
                    }
                });
            </script>

        </section>

        <!-- TABLA -->

        <section class="card-table">

            <h2>Lista de Estudiantes</h2>

            <div class="busqueda">

                <form th:action="@{/estudiantes/buscar}" method="get">

                    <input type="text" name="dni" placeholder="Buscar estudiante por dni">

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>

            </div>

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Apoderado</th>
                        <th>Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    <tr th:each="e : ${estudiantes}">

                        <td th:text="${e.codigo}"></td>

                        <td th:text="${e.nombre}"></td>

                        <td th:text="${e.primerApellido + ' ' + e.segundoApellido}">
                        </td>

                        <td th:text="${e.dni}"></td>

                        <td th:text="${e.telefono}"></td>

                        <td th:text="${e.correo}"></td>

                        <td th:text="${e.apoderado != null ?
                                      e.apoderado.nombre + ' ' + e.apoderado.primerApellido + ' ' + e.apoderado.segundoApellido:
                                      'Sin apoderado'}">
                        </td>

                        <td>

                            <a th:href="@{/estudiantes/editar/{id}(id=${e.id})}" title="Editar">

                                <i class="fa-solid fa-pen-to-square"></i>

                            </a>

                            <a th:href="@{/estudiantes/eliminar/{id}(id=${e.id})}"
                                onclick="return confirm('¿Desea eliminar este estudiante?')" title="Eliminar">

                                <i class="fa-solid fa-trash"></i>

                            </a>

                        </td>

                    </tr>

                </tbody>

            </table>


            <div class="paginacion">

                <!-- Anterior -->
                <a th:if="${pagina.hasPrevious()}" th:href="@{/estudiantes/gestionEstudiantes(
        page=${pagina.number - 1})}">
                    ← Anterior
                </a>


                <!-- Números -->
                <div th:if="${pagina.totalPages > 0}">

                    <span th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">

                        <a th:href="@{/estudiantes/gestionEstudiantes(
                page=${i})}" th:class="${i == pagina.number} ? 'activo'">

                            [[${i + 1}]]

                        </a>

                    </span>

                </div>


                <!-- Siguiente -->
                <a th:if="${pagina.hasNext()}" th:href="@{/estudiantes/gestionEstudiantes(
                page=${pagina.number + 1})}">
                    Siguiente →
                </a>

            </div>

        </section>



    </main>



</body>

</html>