<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricular Estudiante</title>

    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/matricular.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<style>
    .modal {
        display: none;
        /* oculto por defecto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background: #fff;
        margin: 15% auto;
        padding: 20px;
        width: 300px;
        border-radius: 5px;
        text-align: center;
    }
</style>

<script>
    function cerrarModal(id) {
        document.getElementById(id).style.display = 'none';
    }

    // Mostrar automáticamente el modal si existe
    window.onload = function () {
        if (document.getElementById("notificacionModal")) {
            document.getElementById("notificacionModal").style.display = "block";
        }
        if (document.getElementById("confirmacionModal")) {
            document.getElementById("confirmacionModal").style.display = "block";
        }
    }
</script>



<body>

    <!-- Menú lateral -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- FORMULARIO -->
    <main id="content">

        <h1>Matrícula 2026</h1>

        <div class="card-form">

            <h2>Registro de Matrícula</h2>

            <!-- Formulario de búsqueda -->
            <form th:action="@{/matriculas/buscar}" method="get" class="busqueda">
                <input type="text" name="dni" placeholder="Ingrese DNI del estudiante..." maxlength="8" />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <!-- Formulario de matriculacion-->

            <form th:action="@{/matriculas/matricular}" th:object="${matricula}" method="post">

                <div class="form-grid">

                    <input type="hidden" th:field="*{idMatricula}">

                    <div class="form-group">
                        <label for="codigo">Código de Estudiante</label>
                        <input type="text" id="codigo" name="estudiante.codigo" placeholder="A15439"
                            th:field="*{estudiante.codigo}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="estudiante.nombre" placeholder="Ej: Juan Antonio"
                            th:field="*{estudiante.nombre}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="primerApellido">Primer Apellido</label>
                        <input type="text" id="primerApellido" name="estudiante.primerApellido"
                            placeholder="Ej: Rodríguez" th:field="*{estudiante.primerApellido}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="segundoApellido">Segundo Apellido</label>
                        <input type="text" id="segundoApellido" name="estudiante.segundoApellido"
                            placeholder="Ej: Sánchez" th:field="*{estudiante.segundoApellido}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" id="dni" name="estudiante.dni" maxlength="8" placeholder="Ej: 72394456"
                            th:field="*{estudiante.dni}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="fechaNacimiento">
                            Fecha de Nacimiento
                        </label>

                        <input type="text"
                            th:value="${#temporals.format(matricula.estudiante.fechaNacimiento, 'dd/MM/yyyy')}"
                            readonly>

                    </div>

                    <div class="form-group">
                        <label for="grado">Grado</label>
                        <select id="grado" name="grado" required th:field="*{grado.idGrado}">
                            <option value="">Seleccione Grado</option>
                            <option th:value="1">1°</option>
                            <option th:value="2">2°</option>
                            <option th:value="3">3°</option>
                            <option th:value="4">4°</option>
                            <option th:value="5">5°</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="seccion">Sección</label>
                        <select id="seccion" th:field="*{seccion.nombreSeccion}" required>
                            <option value="">Seleccione Sección</option>
                            <option th:value="A">A</option>
                            <option th:value="B">B</option>
                            <option th:value="C">C</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fechaMatricula">
                            Fecha de Matrícula
                        </label>
                        <input type="date" id="fechaMatricula" name="fechaMatricula"
                            th:value="${#temporals.format(matricula.fechaMatricula, 'yyyy-MM-dd')}" required>
                    </div>

                    <div class="form-group estado-group">

                        <label>Estado</label>

                        <div class="switch-container">

                            <label class="switch">
                                <input type="checkbox" name="estado" th:checked="${matricula.estado}">

                                <span class="slider"></span>
                            </label>

                            <span th:class="${matricula.estado} ? 'estado-activo' : 'estado-inactivo'"
                                th:text="${matricula.estado} ? 'Activo' : 'Inactivo'">
                            </span>

                        </div>

                    </div>

                </div>

                <div class="acciones">

                    <button type="reset" class="btn cancelar" onclick="window.location.href='/matriculas/matricular'">
                        Cancelar
                    </button>

                    <button type="submit" class="btn guardar">
                        Guardar
                    </button>

                </div>

            </form>

        </div>

    </main>

    <!-- TABLA -->
    <section id="listar">

        <div class="card-table">

            <h2>Estudiantes Matriculados</h2>

            <form th:action="@{/matriculas/matricular}" method="get" class="toolbar">

                <div class="filtro">
                    <select name="anioEscolar" onchange="this.form.submit()">
                        <option value="">Todos los años</option>
                        <option th:each="a:${estudiantesMatriculados}" th:value="${a.anioEscolar}"
                            th:text="${a.anioEscolar}" th:selected="${a.anioEscolar == anioSeleccionado}">
                        </option>
                    </select>

                </div>

                <div class="filtro">

                    <select name="grado" onchange="this.form.submit()">
                        <option value="">Todos los grados</option>
                        <option value="1" th:selected="${gradoSeleccionado == 1}">1°</option>
                        <option value="2" th:selected="${gradoSeleccionado == 2}">2°</option>
                        <option value="3" th:selected="${gradoSeleccionado == 3}">3°</option>
                        <option value="4" th:selected="${gradoSeleccionado == 4}">4°</option>
                        <option value="5" th:selected="${gradoSeleccionado == 5}">5°</option>
                    </select>

                </div>

                <div class="filtro">

                    <select name="seccion" onchange="this.form.submit()">
                        <option value="">Todas las secciones</option>
                        <option value="A" th:selected="${seccionSeleccionada == 'A'}">A</option>
                        <option value="B" th:selected="${seccionSeleccionada == 'B'}">B</option>
                        <option value="C" th:selected="${seccionSeleccionada == 'C'}">C</option>
                    </select>

                </div>

            </form>

            <table>

                <thead>

                    <tr>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Grado</th>
                        <th>Sección</th>
                        <th>Fecha de matrícula</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    <tr th:each="m : ${estudiantesMatriculados}">

                        <td th:text="${m.estudiante.codigo}"></td>

                        <td th:text="${m.estudiante.nombre}"></td>

                        <td th:text="${m.estudiante.primerApellido + ' ' + m.estudiante.segundoApellido}"></td>

                        <td th:text="${m.grado.nombreGrado}"></td>

                        <td th:text="${m.seccion.nombreSeccion}"></td>

                        <td th:text="${#temporals.format(m.fechaMatricula, 'dd/MM/yyyy')}"></td>

                        <td th:text="${m.estado ? 'Activo': 'Inactivo'}"></td>

                        <td>


                            <a th:href="@{/matriculas/editar/{id}(id=${m.idMatricula})}">
                                <i class="fa-solid fa-pen-to-square"></i></a>

                            <a th:href="@{/matriculas/eliminar/{id}(id=${m.idMatricula})}"
                                onclick="return confirm('¿Desea eliminar esta matricula?')" title="Eliminar">
                                <i class="fa-solid fa-trash"></i>

                            </a>

                        </td>
                    </tr>

                </tbody>

            </table>

            <div class="paginacion">

                <!-- Anterior -->
                <a th:if="${pagina.hasPrevious()}" th:href="@{/matriculas/matricular(
        page=${pagina.number - 1},
        anioEscolar=${anioSeleccionado},
        grado=${gradoSeleccionado},
        seccion=${seccionSeleccionada})}">
                    ← Anterior
                </a>


                <!-- Números -->
                <div th:if="${pagina.totalPages > 0}">

                    <span th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}">

                        <a th:href="@{/matriculas/matricular(
                page=${i},
                anioEscolar=${anioSeleccionado},
                grado=${gradoSeleccionado},
                seccion=${seccionSeleccionada})}" th:class="${i == pagina.number} ? 'activo'">

                            [[${i + 1}]]

                        </a>

                    </span>

                </div>


                <!-- Siguiente -->
                <a th:if="${pagina.hasNext()}" th:href="@{/matriculas/matricular(
        page=${pagina.number + 1},
        anioEscolar=${anioSeleccionado},
        grado=${gradoSeleccionado},
        seccion=${seccionSeleccionada})}">
                    Siguiente →
                </a>

            </div>

        </div>

    </section>

    <!-- Modal de notificación -->
    <div th:if="${tipoModal == 'notificacion'}" id="notificacionModal" class="modal">
        <div class="modal-content">
            <p th:text="${mensaje}"></p>
            <button onclick="cerrarModal('notificacionModal')">Aceptar</button>
        </div>
    </div>

    <!-- Modal de confirmación -->
    <div th:if="${tipoModal == 'confirmacion'}" id="confirmacionModal" class="modal">
        <div class="modal-content">
            <p th:text="${mensaje}"></p>
            <button th:onclick="'window.location.href=\'/matriculas/editar/' + ${matricula.idMatricula} + '\''">Editar
                matrícula</button>
            <button type="reset" class="btn cancelar" onclick="window.location.href='/matriculas/matricular'">Cancelar</button>
        </div>
    </div>

</body>

</html>