<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricular Estudiante</title>

    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/matricular.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <!-- Menú lateral -->
    <div th:replace="~{fragments/menu :: menu}"></div>

    <!-- FORMULARIO -->
    <main id="content">

        <h1>Matrícula 2026</h1>

        <div class="card-form">

            <h2>Registro de Matrícula</h2>

            <!-- Formulario de búsqueda -->
            <form th:action="@{/matriculas/buscar}" method="get" class="busqueda">
                <input type="text" name="dni" placeholder="Ingrese DNI del estudiante..." maxlength="8" />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <!-- Formulario de matriculacion-->

            <form th:action="@{/matriculas/matricular}" th:object="${matricula}" method="post">

                <div class="form-grid">

                    <input type="hidden" th:field="*{idMatricula}">

                    <div class="form-group">
                        <label for="codigo">Código de Estudiante</label>
                        <input type="text" id="codigo" name="estudiante.codigo" placeholder="A15439"
                            th:field="*{estudiante.codigo}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="estudiante.nombre" placeholder="Ej: Juan Antonio"
                            th:field="*{estudiante.nombre}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="primerApellido">Primer Apellido</label>
                        <input type="text" id="primerApellido" name="estudiante.primerApellido"
                            placeholder="Ej: Rodríguez" th:field="*{estudiante.primerApellido}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="segundoApellido">Segundo Apellido</label>
                        <input type="text" id="segundoApellido" name="estudiante.segundoApellido"
                            placeholder="Ej: Sánchez" th:field="*{estudiante.segundoApellido}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" id="dni" name="estudiante.dni" maxlength="8" placeholder="Ej: 72394456"
                            th:field="*{estudiante.dni}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="fechaNacimiento">
                            Fecha de Nacimiento
                        </label>

                        <input type="text"
                            th:value="${#temporals.format(matricula.estudiante.fechaNacimiento, 'dd/MM/yyyy')}"
                            readonly>

                    </div>

                    <div class="form-group">
                        <label for="grado">Grado</label>
                        <select id="grado" name="grado">
                            <option>Seleccione Grado</option>
                            <option value="1">1°</option>
                            <option value="2">2°</option>
                            <option value="3">3°</option>
                            <option value="4">4°</option>
                            <option value="5">5°</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="seccion">Sección</label>
                        <select id="seccion" name="seccion.nombre">
                            <option>Seleccione Sección</option>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fechaMatricula">
                            Fecha de Matrícula
                        </label>

                        <input type="date" id="fechaMatricula" name="fechaMatricula">
                    </div>

                    <div class="form-group estado-group">

                        <label>Estado</label>

                        <div class="switch-container">

                            <label class="switch">
                                <input type="checkbox" name="estado" checked>
                                <span class="slider"></span>
                            </label>

                            <span>Activo</span>

                        </div>

                    </div>

                </div>

                <div class="acciones">

                    <button type="reset" class="btn cancelar" onclick="window.location.href='/matriculas/matricular'">
                        Cancelar
                    </button>

                    <button type="submit" class="btn guardar">
                        Guardar
                    </button>

                </div>

            </form>

        </div>

    </main>

    <!-- TABLA -->
    <section id="listar">

        <div class="card-table">

            <h2>Estudiantes Matriculados</h2>

            <div class="toolbar">

                <div class="busqueda">

                    <input type="text" placeholder="Buscar por nombre, apellido o código">

                </div>

                <div class="filtro">

                    <select>
                        <option>Todos los grados</option>
                        <option value="1">1°</option>
                        <option value="2">2°</option>
                        <option value="3">3°</option>
                        <option value="4">4°</option>
                        <option value="5">5°</option>
                    </select>

                </div>

                <div class="filtro">

                    <select>
                        <option>Todas las secciones</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>

                </div>

            </div>

            <table>

                <thead>

                    <tr>
                        <th><i class="fa-solid fa-pen-to-square"></i>Código</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Grado</th>
                        <th>Sección</th>
                        <th>Fecha de matrícula</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    <tr th:each="m : ${estudiantesMatriculados}">
                        <td th:text="${m.estudiante.codigo}"></td>
                        <td th:text="${m.estudiante.nombre}"></td>
                        <td
                            th:text="${#strings.concat(m.estudiante.primerApellido, ' ', m.estudiante.segundoApellido)}">
                        </td>
                        <td th:text="${m.grado.nombreGrado}"></td>
                        <td th:text="${m.seccion.nombreSeccion}"></td>
                        <td th:text="${m.fechaMatricula}"></td>
                        <td th:text="${m.estado}"></td>

                        <td>


                            <a th:href="@{/matriculas/editar/{id}(id=${m.idMatricula})}"><i
                                    class="fa-solid fa-pen-to-square"></i></a>

                            <a th:href="@{/matriculas/eliminar/{id}(id=${m.idMatricula})}"
                                onclick="return confirm('¿Desea eliminar esta matricula?')" title="Eliminar">

                                <i class="fa-solid fa-trash"></i>

                            </a>

                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </section>



</body>

</html>